AccessModifierOffset: -4
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseExpressionOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: Chromium
BinPackParameters: true
BitFieldColonSpacing: None
BreakAfterReturnType: ExceptShortType
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 80
IndentGotoLabels: false
IndentWidth: 4
LambdaBodyIndentation: OuterScope
MainIncludeChar: Quote
PPIndentWidth: 0
PenaltyReturnTypeOnItsOwnLine: 300
RemoveBracesLLVM: true
SpaceAfterTemplateKeyword: false
SpacesBeforeTrailingComments: 4
TabWidth: 4
UseTab: Always
