[submodule "third_party/JUCE"]
	path = third_party/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "third_party/glaze"]
	path = third_party/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "third_party/libjxl"]
	path = third_party/libjxl
	url = https://github.com/libjxl/libjxl.git
[submodule "third_party/spiritless_po"]
	path = third_party/spiritless_po
	url = https://github.com/oo13/spiritless_po.git
